<web-app>
  <welcome-file-list>
    <welcome-file>loginpage.jsp</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>servletlogin</servlet-name>
		<servlet-class>com.login.loginservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletlogin</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servletlogout</servlet-name>
		<servlet-class>com.login.logoutservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletlogout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>calculator</servlet-name>
		<servlet-class>com.login.calculatorservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>calculator</servlet-name>
		<url-pattern>/calci</url-pattern>
	</servlet-mapping>
	
</web-app>